

.AccessMessage_p {
    margin:0;
    text-align: center;/*temporary*/
    margin-left: 10px;
    font-size:12px;
}

/* .Access_button {
    margin:0;
    font-size:8px;
    padding:0;
    -webkit-appearance:none;
    background:none;
    border:0;
    font-family: inherit;
    cursor:pointer;

    position: absolute;
    right: 2px;
    bottom:0;
} */