:root {
    --border-colour:#291D4D;
    --dialog-background:#FFF3B4;

    --menu-background:#FFE8D2;
    --menu-border-color:#A48465;
    --menu-font-color:#3A160D;
    --menu-seleted-background:#7fc2ff;
}


* {
    box-sizing:border-box;
}

body {
    background-color:#333;
    padding:0;
    margin:0;
    overflow: hidden;
}

.AccessMessage-container {
    position:relative;
    width:352px;
    height:16px;
    margin:0 auto;
    outline: 1px dashed #ffffff;

    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color:var(--menu-font-color);

    transform: scale(3.5) translateY(40%); 
}

.game-container {
    position:relative;
    width:352px;
    height:200px;
    margin:0 auto;
    outline: 1px solid #ffffff;
    overflow: hidden;

    transform: scale(3.5) translateY(43%); 
}

.game-container canvas {
    image-rendering:pixelated;
}

