.Team {
    display:flex;
    position: absolute; /*keeps it above battlescene*/
    top:4px;
    gap:4px;
}

.Team[data-team="player"] {
    left:4px;
}
.Team[data-team="enemy"] {
    right:4px;
}

/* start by displayin none */
.Team .dead-plant {
    display:none;
}
.Team .active-plant-indicator {
    display:none;
}

/* Display them when activated */
.Team [data-dead="true"] .dead-plant {
    display:block;
}
.Team [data-active="true"] .active-plant-indicator {
    display:none;
}